<%- include("modules/header"); -%>
<%- include("modules/nav"); -%>
<!-- Content Space -->
<% 
    var displayname = "Y/N"; 

    var postID = 1;
    var title = "Sydney";
    var poster = "ellia14";
%>
<div id="main">
    <h3 id="bmk-title"><%= displayname %>'s Bookmarks</h3>
    <div class="post-group">

        <!-- Post -->
        <div class="post-card">
            <a href="/post/<%= poster %>/<%= postID %>-<%= title %>">
                <img src="/images/u1Post1.jpeg">
                <p class="post-title"><%= title %></p>
            </a>
            <hr>
            <a href="/profile/<%= poster %>" class="post-user">
                <img src="/images/user1.jpg">
                <p><%= poster %></p>
            </a>
        </div>

    </div>
</div>
<%- include("modules/footer"); -%>
