<%- include("modules/header"); -%>
<%- include("modules/nav"); -%>
<!-- Content Space -->
<div id="main">
  <h3 id="edit-title">Edit Post</h3>

  <div class="photo-container">
  <img src="<%= post.Photo %>">
  </div>

  <form method="POST" action="/post/<%= post.Username %>/<%= post.PostID %>-<%= post.Title %>" id="editpost-form" name="editpost-form">
    <div class="caption-container">
      <label class="caption-label">Caption</label>
      <input type="text" id="caption" name="caption" value="<%= post.Caption %>">
      </div>

      <div class="caption-container">
      <label class="caption-label">Tags (separate with commas) </label>
      <input type="text" id="tags" name="tags" value="<%= post.Tags %>">
      </div>

      <div class="caption-container">
      <label class="caption-label">Location</label>
      <input type="text" id="location" name="location" value="<%= post.Title %>" required>
      </div>

      <div class="save-container">
      <button type="submit">Save Changes</button>
      </div>
  </form>
</div>
<%- include("modules/footer"); -%>