<%- include("modules/header"); -%>
<%- include("modules/nav"); -%>
<!-- Content Space -->
<div id="main">
  <h3 id="edit-title">Edit Post</h3>

  <div class="photo-container">
  <img src="/images/myPost1.jpg">
  </div>

  <form method="POST" action="/post/<%= username %>/<%= postID %>-<%= title %>" id="editpost-form" name="editpost-form">
    <div class="caption-container">
      <label class="caption-label">Caption</label>
      <input type="text" id="caption" name="caption" value="This is a photo of a beach in Maldives! I loved my trip here.">
      </div>

      <div class="caption-container">
      <label class="caption-label">Tags (separate with commas) </label>
      <input type="text" id="tags" name="tags" value="Maldives, Travel, Photography">
      </div>

      <div class="caption-container">
      <label class="caption-label">Location</label>
      <input type="text" id="location" name="location" value="<%= title %>">
      </div>

      <div class="save-container">
      <button type="submit">Save</button>
      </div>
  </form>
</div>
<%- include("modules/footer"); -%>