<%- include("modules/header"); -%>
<%- include("modules/nav"); -%>
<!-- Content Space -->
<% 
  var displayname = "John Doe";

  var input = "test";

  var postID = 1;
  var title = "Sydney";
  var poster = "ellia14";
%>
<div id="main">
  <%- include("modules/searchbar"); -%>

  <div class="welcome">
    <h3 id="hello-title">
      <% if (1 == 2) { %>
        Hello there, Visitor!
      <% } else { %>
        Welcome back, <%= displayname %>!
      <% } %>
    </h3>
    <h4 id="welcome-title">Explore the world. Visit and tour.</h4>
  </div>

  <div class="post-group">

    <!-- Post -->
    <div class="post-card">
      <a href="/post/<%= poster %>/<%= postID %>-<%= title %>">
          <img src="/images/u1Post1.jpeg">
          <p class="post-title"><%= title %></p>
      </a>
      <hr>
      <a href="/profile/<%= poster %>" class="post-user">
          <img src="/images/user1.jpg">
          <p><%= poster %></p>
      </a>
    </div>
    
  </div>
</div>
<%- include("modules/footer"); -%>