<%- include("modules/header"); -%>
<%- include("modules/nav"); -%>
<!-- Content Space -->
<% 
  var displayname = "John Doe";

  var input = "test";

  var postID = 1;
  var title = "Sydney";
  var poster = "ellia14";
%>
<div id="main">
  <%- include("modules/searchbar"); -%>

  <div class="welcome">
    <h3 id="hello-title">
      <% if (1 == 2) { %>
        Hello there, Visitor!
      <% } else { %>
        Welcome back, <%= displayname %>!
      <% } %>
    </h3>
    <h4 id="welcome-title">Explore the world. Visit and tour.</h4>
  </div>

  <div class="post-group">

    <!-- Post -->
    <% posts.forEach(function(post){ %>
    <div class="post-card">
      <a href="/post/<%= post.username %>/<%= post.postID %>-<%= post.title %>">
          <img src="<%= post.photo %>">
          <p class="post-title"><%= post.title %></p>
      </a>
      <hr>
      <a href="/profile/<%= post.username %>" class="post-user">
          <img src="<%= post.profilepic%>">
          <p><%= post.username %></p>
      </a>
    </div>
    <% }); %>

  </div>
</div>
<%- include("modules/footer"); -%>