<%- include("modules/header"); -%>
<%- include("modules/nav"); -%>
<!-- Content Space -->
<% 
var input = "hello"; 

var postID = 1;
var poster = "taylor13";
var title = "Australia";
%>
<div id="main">
  <%- include("modules/searchbar"); -%>

  <div class="welcome">
    <h3 id="hello-title">Search results for "<%= input %>"</h3>
  </div>

  <div class="post-group">

    <!-- Post -->
    <div class="post-card">
      <a href="/post/<%= poster %>/<%= postID %>-<%= title %>">
          <img src="/images/u1Post1.jpeg">
          <p class="post-title"><%= title %></p>
      </a>
      <hr>
      <a href="/profile/<%= poster %>" class="post-user">
          <img src="/images/user1.jpg">
          <p><%= poster %></p>
      </a>
    </div>
    
  </div>
</div>
<%- include("modules/footer"); -%>